.app {
  background-color: #f5edc0;
}

.content-primary {
  background-color: #bbe1fa;
  border: 2px solid black;
  width: 1000px;
  border-radius: 5px;
}

.listing-table {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  width: 950px;
  margin: 10px;
  font-size: 21px;
}

.Nav-bar {
  background-color: #04045f;
  width: 15%;
  display: none;
  font-size: 30px;
}

.Nav-bar ul li:hover {
  background-color: #4c4cfd73;
  color: white;
}

.Nav-barLink {
  color: white;
}
.Nav-barLink a {
  text-decoration: none;
}

.align {
  background-color: #f5edc0;
  display: flex;
}

.content-showcase {
  margin: 10px;
}

.button-color3 {
  background-color: #ee7b11;
  border: 1px solid black;
  color: white;
  padding: 15px;
  font-size: 25px;
}

.button-color3:hover {
  background-color: #eeb66c;
  color: black;
  cursor: pointer;
}

.checkbox {
  width: 61px;
  height: 30px;
}

.button-color4 {
  background-color: #8087c1;
  color: white;
}

.button-color4:hover {
  background-color: thistle;
  color: black;
  cursor: pointer;
}

.button-color5 {
  background-color: red;
  color: white;
}

.button-color5:hover {
  background-color: rgb(255, 169, 10);
  color: black;
  cursor: pointer;
}

.labels {
  margin: 20px;
  font-size: 30px;
}

.search-align {
  display: inline-block;
  margin: 20px 65px 16px;
}

#burger {
  cursor: pointer;
  display: none;
  float: right;
}

#bar {
  height: 5px;
  background-color: white;
  width: 40px;

  margin-top: 8px;
}

/* Media qurry */
@media screen and (max-width: 900px) {
  #burger {
    display: inline-block;
  }
}

#Link {
  color: #000000;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px;
  margin-left: 20px;
  /* background-color: #f5d76c; */
}

#Link:hover {
  background-color: #b5915a;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  padding: 10px;
  transition: 1s;
}

.Link-Navigations {
  /* background-color: #f5d76c; */
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 2px solid;
  width: 800px;
  border: 2px solid;
  margin-left: 15%;
}

.topNav {
  height: "50px";
}

#mySidenavMobile {
  display: none;
  background-color: white;
}

.Menu-Cart {
  display: flex;
}

@media screen and (max-width: 900px) {
  .menu {
    background-color: tomato;
  }
  .Nav-bar {
    display: none;
  }

  .topNav span {
    display: none;
  }

  .Link-Navigations {
    display: none;
  }

  #mySidenavMobile {
    float: right;
  }
}

.linkEnquiry {
  margin-top: 40px;
}

.header {
  display: flex;
  background-color: #dbc268;
  margin-bottom: 13px;
  box-shadow: 5px 10px 6px;
}

/* .card {
  display: inline-block;
  background-color: #c3b091;
  width: 200px;
  border-width: 5px;
  margin: 20px;
} */

/* .card{
  display: inline-block;
  background-color: #f5d76c;
  border-width: 5px;
  margin: 20px;
  width: 200px;
  height:300px;
} */
.user {
  background-image: url("../images/User.png");
  height: 63px;
  width: 49px;
  margin-top: 15px;
}

.inner-Menu {
  background-color: #dbc268;
  margin-right: 20px;
}

#Menu-style {
  background-color: rgb(245, 237, 192);
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 30;
  width: 780px;
  margin-left: 77px;
  box-shadow: 6px 6px 5px;
  margin-top: -34px;
}
