.header {
  width: 100%;
  display: inline-flex;
  background-color: #dbc268;
  margin-bottom: 13px;
  box-shadow: 5px 10px 6px;
}

.header-txt {
  text-align: left;
  font-size: 64px;
  margin-right: 200px;
  margin-left: 20px;
  font-family: Old Standard TT;
  color: black;
}

.header-txt:hover {
  text-decoration: none;
  color: #353535;
}
.header-link-container {
  display: flex;
  position: absolute;
  right: 15px;
}

.linkEnquiry {
  margin: 40px 20px;
  font-size: 32px;
  background-color: #dbc268;
  border: none;
  cursor: pointer;
  color: green;
}

.linkEnquiry:hover {
  text-decoration: none;
  color: #353535;
}

#burger {
  cursor: pointer;
  display: none;
  float: right;
}

#bar {
  height: 5px;
  background-color: white;
  width: 40px;

  margin-top: 8px;
}

/* Media qurry for mobile view*/
@media screen and (max-width: 900px) {
  /* Work around for the user image ,because image is position:absolute */
  .header {
    height: 80px;
    margin-left: 0px;
  }
  .linkEnquiry {
    display: none;
  }
  .header-txt {
    text-align: left;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 0px;
  }
  #burger {
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 507px) {
  .header-txt {
    font-size: 25px;
    margin-top: 30px;
  }
}
